<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etoak.mapper.AreaMapper">
    <cache />
    <sql id="baseSql">
        id,pid,name,sort
    </sql>
    <select id="queryByPid" resultType="Area" parameterType="int">
        select
                <include refid="baseSql" />
            from t_boot_area
            where pid = #{pid}
            order by sort asc
    </select>
    <select id="queryById" parameterType="int" resultType="Area">
        select
            <include refid="baseSql" />
            from t_boot_area
            where id=#{id}
    </select>
</mapper>